body {
  font-family: sans-serif;
}

div.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

figure {
  width: 60%;
  height: auto;
  padding: 15px;
  border: 6px solid gray;
  margin: auto;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}