body {
  font-family: sans-serif;
}

div.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

header {
  padding-top: 10px;
  border-top: 5px solid saddlebrown;
  background-color: ivory;
  margin-top: 20px;
  margin-bottom: 42px;
}

h1 {
  color: saddlebrown;
  font-weight: 600;
  font-family: 'Spectral', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media all and (min-width: 421px) {
  h1 {
    font-size: 38px;
  }
}

@media all and (max-width: 420px) {
  h1 {
  font-size: 24px;
  }
}

a {
  color:saddlebrown;
}

nav ul {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  border-top: 5px solid saddlebrown;
  border-bottom: 5px solid saddlebrown;
  list-style: none;
  text-align: center;
}

@media all and (min-width: 601px) {
  nav ul {
  display: flex;
  justify-content: center;
  gap: 30px; 
  }
}

nav ul li a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div#message {
  color: saddlebrown;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Spectral', sans-serif;
  padding: 23px;
  border: 1px solid saddlebrown;
  border-radius: 24px;
  background-color: ivory;
  margin-top: 45px;
  opacity: 1;
  transition: opacity .4s ease;
}

div#message.dismissed {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

div#message button {
  float: right;
}

h2 {
  font-weight: 700;
  font-family: 'Spectral', sans-serif;
}


p {
  hyphens: auto;
}


p.narrowparagraph {
  max-width: 600px;
  margin: auto;
}

div.imagewithinfo {
  padding: 12px;
  margin: auto;
  margin-top: 20px;
}

@media all and (min-width: 601px) {
  div.imagewithinfo {
  margin-bottom: 35px;
  }
}

@media all and (max-width: 600px) {
  div.imagewithinfo {
  margin-bottom: 25px;
  }
}

figure {
  max-width: 600px;
  height: auto;
  padding: 10px;
  border: 2px solid gray;
  margin: auto;
  margin-bottom: 12px; 
}

figure#topfigure {
  max-width: 920px;
  margin-bottom: 40px;
}

@media all and (max-width: 601px) {
  figcaption {
  hyphens: auto;
  }
}

img {
  width: 100%;
  height: auto;
  max-height: 680px;
}

div#trivia {
  color: saddlebrown;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Spectral', sans-serif;
  padding: 16px;
  border: 1px solid saddlebrown;
  border-radius: 24px;
  background-color: ivory;
  opacity: 1;
  transition: opacity .4s ease;
}

div#trivia.dismissed {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

footer#page-footer {
  border-top: 5px solid saddlebrown;
  background-color: ivory;
  margin-top: 80px;
  text-align: center;
}

footer p {
  color: saddlebrown;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Spectral', sans-serif;
}

ul#sourcelist li {
  margin-top: 16px;
}