body {
  font-family: sans-serif;
}

figure {
  width: 60%;
  max-width: 1020px;
  height: auto;
  padding: 15px;
  border: 6px solid black;
  margin: auto;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}