body {
  font-family: sans-serif;
}

div.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

header {
  border-top: 20px solid saddlebrown;
  border-bottom: 20px solid saddlebrown;
  background-color: whitesmoke;
  margin-top: 8px; 
  margin-bottom: 50px;
}

h1 {
  color: saddlebrown;
  border: 3px solid saddlebrown;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color:saddlebrown;
}

nav ul {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
  list-style: none;
  text-align: center;
}

@media all and (min-width: 601px) {
  nav ul {
  display: flex;
  justify-content: center;
  gap: 30px; 
  }
}

nav ul li a {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

figure {
  width: 50%;
  height: auto;
  padding: 15px;
  border: 6px solid gray;
  margin: auto;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}

footer#page-footer {
  border-top: 3px solid gray;
  margin-top: 80px;
  text-align: center;
}

footer p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}