body {
  font-family: sans-serif;
}

div.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

header {
  padding-top: 10px;
  border-top: 5px solid saddlebrown;
  background-color: ivory;
  margin-top: 20px;
  margin-bottom: 42px;
}

h1 {
  color: saddlebrown;
  font-size: 44px;
  font-weight: 600;
  font-family: 'Spectral', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color:saddlebrown;
}

nav ul {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  border-top: 5px solid saddlebrown;
  border-bottom: 5px solid saddlebrown;
  list-style: none;
  text-align: center;
}

@media all and (min-width: 601px) {
  nav ul {
  display: flex;
  justify-content: center;
  gap: 30px; 
  }
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

figure {
  width: 50%;
  height: auto;
  padding: 15px;
  border: 7px solid gray;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}

footer#page-footer {
  border-top: 5px solid saddlebrown;
  background-color: ivory;
  margin-top: 80px;
  text-align: center;
}

footer p {
  color: saddlebrown;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul#sourcelist li {
  margin-top: 16px;
}